body{
    background-image: url(../Images/tres-estrellas-logo.png);
    background-position: center; background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
    position: absolute;
    background-attachment: fixed;
    text-align: center;
} 