.navbar--container {
    position: fixed;
    top: 0px;
    left: 0px;
    width: 100%;
    display: flex;
    justify-content: space-between;
    padding: 0 20px;
    overflow: hidden;
    background-color: #FF3CAC;
    background-image: linear-gradient(225deg, #FF3CAC 0%, #784BA0 50%, #2B86C5 100%);
}

.navbar--title {
    font-size: 0.8em;
    letter-spacing: 0.2em;
    display: flex;
    align-items: center;
    font-family: Copperplate, fantasy;
    
}

.navbar--links {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    margin: 20px;
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
    font-size: 21px;
}

.navbar--link {
    padding: 5px 20px;
}

a {
    text-decoration: none;
    color: #9FACE6;
}