.cards {
    display: flex;
    justify-content: center;
    align-items: center;
}

.products--card {
    border: solid gray 2px;
    border-radius: 5px;
    text-align: center;
    padding: 20px;
    margin: 15px;
}

h3, p, h4{
    margin: 0;
}